*{
	font-family: "Open Sans Condensed", sans-serif;
	margin:auto;
}

.banner {
    text-transform: uppercase;
	padding-left: auto;
	padding-right: auto;
	width: 90%;
}

.header_logo {
	width: 110px;
	height: 110px;
	float: left;
}

.banner-name {
	text-align: right;
}

h2 {
	text-align: center;
}

.container-fluid {
	width: 100%;
}	
	
hr {
	width: 100%;
}


/* If the screen width is at least 330px wide, do this */
@media screen and (min-width: 330px){
	.container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-wrap: wrap;
	}
	
	.project-section {
		margin: auto;
	}
	
	.top-image {
		margin: auto;
	}
	
	hr {
		width: 100%;
	}
}

/* If the screen width is at least 830px wide, do this */
@media screen and (min-width: 830px){
	.container {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-wrap: wrap;
	}
	
	.project-section {
		margin: auto;
	}
	
	.top-image {
		margin: auto;
	}
	
	hr {
		width: 100%;
	}
	
	footer {
		padding-top:3em;
	}
}

@media screen and (max-width: 991px){
	.project-section {
		text-align: center;
	}
}
	
@media screen and (min-width:1050px){
	.container {
		width: 80%;
	
	}
}

@media only screen and (min-width: 330px) and (max-width:599px) {
		h1 {
			font-size:34px;
		}

		h4 {
			font-size:18px;
		}
	}